rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Regra geral de leitura: permite que qualquer pessoa leia arquivos.
    // Isso é comum para imagens que precisam ser exibidas publicamente no app.
    match /{allPaths=**} {
      allow read;
    }

    // --- REGRAS DE ESCRITA (UPLOAD) ---

    // Permite que usuários logados façam upload de fotos para seus perfis.
    match /profile_pictures/{fileName} {
      allow write: if request.auth != null && fileName.startsWith(request.auth.uid);
    }
    
    // Permite que usuários logados façam upload de evidências para denúncias.
    match /incident_evidence/{fileName} {
      allow write: if request.auth != null && fileName.startsWith(request.auth.uid);
    }

    // Permite que usuários logados façam upload de fotos de animais perdidos/achados.
    match /lost_found_images/{fileName} {
      allow write: if request.auth != null && fileName.startsWith(request.auth.uid);
    }
    
    // Permite que administradores logados façam upload de fotos de animais para adoção.
    match /adoption_images/{fileName} {
        allow write: if request.auth != null && fileName.startsWith(request.auth.uid);
    }
  }
}
